<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LogIn - Sign Up</title>

		<script
			src="https://kit.fontawesome.com/f1a39b0f14.js"
			crossorigin="anonymous"
		></script>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
		<!-- Custom Css -->
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/create.css" />
	</head>
	<body>
		<%- include('partials/navbar-general') %>
		<section id="login__event-section">
			<div class="container container-login">
				<div class="login-section">
					<form action="/login" method="post">
						<h3 class="text-center fs-4 mb-4">Login into your account</h3>
						<input
							class="form-control mb-4"
							type="text"
							name="name"
							placeholder="John Doe"
						/>

						<input
							class="form-control mb-4"
							type="text"
							name="username"
							placeholder="@johndoe"
						/>
						<input
							class="form-control mb-4"
							type="email"
							name="email"
							placeholder="johndoe@example.com"
						/>

						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-primary submit-btn">
								Login
							</button>
						</div>
						<hr />
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-danger submit-btn">
								Login With Google
							</button>
							<button type="submit" class="btn btn-dark submit-btn">
								Login With Github
							</button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>

