.logo {
	display: block;
	margin: 10px auto;
}

#create__event-section,
#login__event-section {
	background: rgb(0, 187, 185);
	background: linear-gradient(
		111deg,
		rgba(0, 187, 185, 0.8799894957983193) 0%,
		rgba(3, 228, 146, 0.804359243697479) 60%,
		rgba(118, 164, 46, 1) 100%
	);
	padding: 50px;
}

.form__section,
.login-section {
	background-color: white;
	padding: 50px;
	border-radius: 6px;
	width: 70%;
}
.container-login,
.container-create {
	display: flex;
	align-items: center;
	justify-content: center;
}
#submit {
	font-size: 14px;
}

.form__header {
	font-size: 22px;
	font-weight: 500;
}
.submit-btn {
	margin-right: 10px;
}

@media screen and (max-width: 600px) {
	.login-section,
	.form__section {
		width: 80%;
		padding: 0;
		overflow: hidden !important;
	}
}
